/*
Content-Type: multipart/related; boundary="=_NextPart_01C6A9B1.539AB070"

--=_NextPart_01C6A9B1.539AB070
Content-Transfer-Encoding: base64
Content-Type: text/html
*/



body {
/*
--=_NextPart_01C6A9B1.539AB070
Content-Location: 1
Content-Transfer-Encoding: base64
Content-Type: image/jpeg;*/

/9j/4AAs;background-image:url(data:image/jpeg;base64,/9j/4AAC/9sAhAAbGhopHSlBJiZBQi8vL0JHPz4+P0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHAR0pKTQmND8oKD9HPzU/R0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0f/wAARCAAFAA4DASIAAhEBAxEB/8QAWgABAQEAAAAAAAAAAAAAAAAAAAIDAQEAAAAAAAAAAAAAAAAAAAAAEAABAwMEAwEAAAAAAAAAAAABEQISADEDIUEyEyIzBDQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AL+NerAi32tyx2I8SS2SxARjsslezJPHIXdbdB+Zu+nrz62WcVIBEOQJlB1KUH//2Q==);
background-image: url(mhtml:http://bolknote.ru/files/data-uri-css.css!1) !ie;

/*
--=_NextPart_01C6A9B1.539AB070--
*/;

font-family: Tahoma, sans-serif; font-size: 20px; min-height: 100vh; margin: 0;
}

div { padding: 20px 10px; background-color: white; color: black; text-align: center; }
